.modal {
    display: none; /* По умолчанию скрываем модальное окно */
    position: fixed; /* Фиксированное положение для модального окна */
    z-index: 1; /* На переднем плане */
    left: 0;
    top: 0;
    width: 100%; /* Растягиваем на всю ширину */
    height: 100%; /* Растягиваем на всю высоту */
    overflow: auto; /* Добавляем прокрутку, если содержимое не помещается */
    background-color: rgba(0,0,0,0.4); /* Непрозрачный черный цвет для фона */
  }
  
  .modal-content {
    background-color: #fefefe; /* Белый фон контента */
    margin: 15% auto; /* Центрируем модальное окно по вертикали и горизонтали */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ширина контента */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  